In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [3]:
# Write your code for importing the csv file here
movies = pd.read_csv("Movie+Assignment+Data.csv")
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [4]:
# Write your code for inspection here
movies.shape
movies.size
movies.columns
type(movies)
movies.info()
movies.head()
movies.tail()
movies.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [5]:
# Write your code for column-wise null count here
movies.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [6]:
# Write your code for row-wise null count here
movies.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [7]:
# Write your code for column-wise null percentages here
movies.index
round(100*(movies.isnull().sum()/len(movies.index)),2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [8]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
movies=movies.drop(["color",'director_facebook_likes','actor_1_facebook_likes',"actor_2_facebook_likes",'actor_3_facebook_likes','actor_2_name','cast_total_facebook_likes','actor_3_name','duration','facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords'], axis=1)

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [9]:
# Write your code for dropping the rows here
#movies.index
#round((movies.isnull().sum())/(movies.isnull().sum().sum())*100,2)
round(100*(movies.isnull().sum()/len(movies.index)),2) #NULL % is checked and Col are identified
movies=movies[movies.gross.notnull()]
movies=movies[movies.budget.notnull()]
round(100*(movies.isnull().sum()/len(movies.index)),2) #NULL % is rechecked checked 
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,143.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000
5034,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74
5035,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0
5037,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry Bishé,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [10]:
# Write your code for dropping the rows here
movies=movies[movies.isnull().sum(axis=1)<=5] #NaN values greater than 5 is removed
round(100*(movies.isnull().sum()/len(movies.index)),2) #NULL % is rechecked checked
movies.isnull().sum(axis=1).sum() #NULL values remained in dataframe

7

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [11]:
# Write your code for filling the NaN values in the 'language' column here
movies[movies.language.isnull()] #NULL values is checked checked
movies['language']=movies['language'].fillna('English') #NULL is replaced by English
movies.language.isnull().sum() #NULL values remained in dataframe is 0
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,143.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000
5034,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74
5035,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0
5037,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry Bishé,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [12]:
# Write your code for checking number of retained rows here
round(100*(movies.isnull().sum()/len(movies.index)),2)
movies.isnull().sum(axis=1)
#print((3891/5043)*100)
#movies.info()
#len(movies.index)
print((round(len(movies.index)/5043*100,2)))

77.16

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [13]:
# Write your code for unit conversion here
movies.gross=movies.gross.floordiv(1000000)
movies.budget=movies.budget.floordiv(1000000)
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0,2007.0,7.1,0
2,Sam Mendes,602.0,200.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.0,2012.0,6.6,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,143.0,0.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,0.0,2004.0,7.0,19000
5034,Neill Dela Llana,35.0,0.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,0.0,2005.0,6.3,74
5035,Robert Rodriguez,56.0,2.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,0.0,1992.0,6.9,0
5037,Edward Burns,14.0,0.0,Comedy|Drama,Kerry Bishé,Newlyweds,1338,14.0,English,0.0,2011.0,6.4,413
5042,Jon Gunn,43.0,0.0,Documentary,John August,My Date with Drew,4285,84.0,English,0.0,2004.0,6.6,456

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [14]:
# Write your code for creating the profit column here
movies['Profit']=movies.gross-movies.budget
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.0
1,Gore Verbinski,302.0,309.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0,2007.0,7.1,0,9.0
2,Sam Mendes,602.0,200.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245.0,2015.0,6.8,85000,-45.0
3,Christopher Nolan,813.0,448.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0,2012.0,8.5,164000,198.0
5,Andrew Stanton,462.0,73.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.0,2012.0,6.6,24000,-190.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,143.0,0.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,0.0,2004.0,7.0,19000,0.0
5034,Neill Dela Llana,35.0,0.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,0.0,2005.0,6.3,74,0.0
5035,Robert Rodriguez,56.0,2.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,0.0,1992.0,6.9,0,2.0
5037,Edward Burns,14.0,0.0,Comedy|Drama,Kerry Bishé,Newlyweds,1338,14.0,English,0.0,2011.0,6.4,413,0.0
5042,Jon Gunn,43.0,0.0,Documentary,John August,My Date with Drew,4285,84.0,English,0.0,2004.0,6.6,456,0.0

In [15]:
# Write your code for sorting the dataframe here
movies=movies.sort_values('Profit', ascending = False)
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.0
29,Colin Trevorrow,644.0,652.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.0
26,James Cameron,315.0,658.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.0
3024,George Lucas,282.0,460.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.0
3080,Steven Spielberg,215.0,434.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.0,1982.0,7.9,34000,424.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,Katsuhiro Ôtomo,105.0,0.0,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,2127.0,2004.0,6.9,973,-2127.0
2323,Hayao Miyazaki,174.0,2.0,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2400.0,1997.0,8.4,11000,-2398.0
3005,Lajos Koltai,73.0,0.0,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,2500.0,2005.0,7.1,607,-2500.0
3859,Chan-wook Park,202.0,0.0,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,4200.0,2005.0,7.7,4000,-4200.0
2988,Joon-ho Bong,363.0,2.0,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,12215.0,2006.0,7.0,7000,-12213.0

In [16]:
 # Write your code to get the top 10 profiting movies here
top10 =movies.head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.0
29,Colin Trevorrow,644.0,652.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.0
26,James Cameron,315.0,658.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.0
3024,George Lucas,282.0,460.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.0
3080,Steven Spielberg,215.0,434.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.0,1982.0,7.9,34000,424.0
794,Joss Whedon,703.0,623.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.0
17,Joss Whedon,703.0,623.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.0
509,Roger Allers,186.0,422.0,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.0,1994.0,8.5,17000,377.0
240,George Lucas,320.0,474.0,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.0,1999.0,6.5,13000,359.0
66,Christopher Nolan,645.0,533.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.0

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [17]:
# Write your code for dropping duplicate values here
movies=movies.drop_duplicates()
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.0
29,Colin Trevorrow,644.0,652.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.0
26,James Cameron,315.0,658.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.0
3024,George Lucas,282.0,460.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.0
3080,Steven Spielberg,215.0,434.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.0,1982.0,7.9,34000,424.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,Katsuhiro Ôtomo,105.0,0.0,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,2127.0,2004.0,6.9,973,-2127.0
2323,Hayao Miyazaki,174.0,2.0,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2400.0,1997.0,8.4,11000,-2398.0
3005,Lajos Koltai,73.0,0.0,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,2500.0,2005.0,7.1,607,-2500.0
3859,Chan-wook Park,202.0,0.0,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,4200.0,2005.0,7.7,4000,-4200.0
2988,Joon-ho Bong,363.0,2.0,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,12215.0,2006.0,7.0,7000,-12213.0

In [18]:
# Write code for repeating subtask 2 here
movies['Profit']=movies.gross-movies.budget
movies=movies.sort_values('Profit', ascending = False)
top10 =movies.head(10)
top10
top10.movie_title
top10[['director_name','movie_title','gross','budget','Profit']]

,director_name,movie_title,gross,budget,Profit
0,James Cameron,Avatar,760.0,237.0,523.0
29,Colin Trevorrow,Jurassic World,652.0,150.0,502.0
26,James Cameron,Titanic,658.0,200.0,458.0
3024,George Lucas,Star Wars: Episode IV - A New Hope,460.0,11.0,449.0
3080,Steven Spielberg,E.T. the Extra-Terrestrial,434.0,10.0,424.0
794,Joss Whedon,The Avengers,623.0,220.0,403.0
509,Roger Allers,The Lion King,422.0,45.0,377.0
240,George Lucas,Star Wars: Episode I - The Phantom Menace,474.0,115.0,359.0
66,Christopher Nolan,The Dark Knight,533.0,185.0,348.0
439,Gary Ross,The Hunger Games,407.0,78.0,329.0

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [19]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
movies=movies.sort_values('imdb_score',ascending=False)
#movies.info()
IMDb_Top_250=movies[movies.num_voted_users>25000].head(250)
#IMDb_Top_250.info()
IMDb_Top_250['Rank']=range(1,251)
IMDb_Top_250[['Rank','director_name','movie_title','imdb_score','language','gross','budget','Profit']]

,Rank,director_name,movie_title,imdb_score,language,gross,budget,Profit
1937,1,Frank Darabont,The Shawshank Redemption,9.3,English,28.0,25.0,3.0
3466,2,Francis Ford Coppola,The Godfather,9.2,English,134.0,6.0,128.0
2837,3,Francis Ford Coppola,The Godfather: Part II,9.0,English,57.0,13.0,44.0
66,4,Christopher Nolan,The Dark Knight,9.0,English,533.0,185.0,348.0
1874,5,Steven Spielberg,Schindler's List,8.9,English,96.0,22.0,74.0
...,...,...,...,...,...,...,...,...
927,246,Andrew Adamson,Shrek,7.9,English,267.0,60.0,207.0
1735,247,James Mangold,Walk the Line,7.9,English,119.0,28.0,91.0
99,248,Peter Jackson,The Hobbit: An Unexpected Journey,7.9,English,303.0,180.0,123.0
525,249,Alfonso Cuarón,Children of Men,7.9,English,35.0,76.0,-41.0
353,250,John Lasseter,Toy Story 2,7.9,English,245.0,90.0,155.0

In [20]:
# Write your code to extract top foreign language films from 'IMDb_Top_250' here
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250.language!='English']
#Top_Foreign_Lang_Film.info()
Top_Foreign_Lang_Film[['Rank','director_name','movie_title','imdb_score','language','gross','budget','Profit']]

,Rank,director_name,movie_title,imdb_score,language,gross,budget,Profit
4498,7,Sergio Leone,"The Good, the Bad and the Ugly",8.9,Italian,6.0,1.0,5.0
4747,14,Akira Kurosawa,Seven Samurai,8.7,Japanese,0.0,2.0,-2.0
4029,15,Fernando Meirelles,City of God,8.7,Portuguese,7.0,3.0,4.0
2373,26,Hayao Miyazaki,Spirited Away,8.6,Japanese,10.0,19.0,-9.0
4921,30,Majid Majidi,Children of Heaven,8.5,Persian,0.0,0.0,0.0
4259,42,Florian Henckel von Donnersmarck,The Lives of Others,8.5,German,11.0,2.0,9.0
4659,49,Asghar Farhadi,A Separation,8.4,Persian,7.0,0.0,7.0
1298,51,Jean-Pierre Jeunet,Amélie,8.4,French,33.0,77.0,-44.0
2970,55,Wolfgang Petersen,Das Boot,8.4,German,11.0,14.0,-3.0
2323,57,Hayao Miyazaki,Princess Mononoke,8.4,Japanese,2.0,2400.0,-2398.0
4105,59,Chan-wook Park,Oldboy,8.4,Korean,2.0,3.0,-1.0
1329,61,S.S. Rajamouli,Baahubali: The Beginning,8.4,Telugu,6.0,18.0,-12.0
2829,64,Oliver Hirschbiegel,Downfall,8.3,German,5.0,13.0,-8.0
2734,66,Fritz Lang,Metropolis,8.3,German,0.0,6.0,-6.0
4033,68,Thomas Vinterberg,The Hunt,8.3,Danish,0.0,3.0,-3.0
4000,88,Juan José Campanella,The Secret in Their Eyes,8.2,Spanish,20.0,2.0,18.0
3550,100,Denis Villeneuve,Incendies,8.2,French,6.0,6.0,0.0
2551,105,Guillermo del Toro,Pan's Labyrinth,8.2,Spanish,37.0,13.0,24.0
2047,106,Hayao Miyazaki,Howl's Moving Castle,8.2,Japanese,4.0,24.0,-20.0
3553,121,José Padilha,Elite Squad,8.1,Portuguese,0.0,4.0,-4.0
2830,122,Alejandro Amenábar,The Sea Inside,8.1,Spanish,2.0,10.0,-8.0
3423,127,Katsuhiro Ôtomo,Akira,8.1,Japanese,0.0,1100.0,-1100.0
2914,130,Je-kyu Kang,Tae Guk Gi: The Brotherhood of War,8.1,Korean,1.0,12.0,-11.0
4461,133,Thomas Vinterberg,The Celebration,8.1,Danish,1.0,1.0,0.0
4267,150,Alejandro G. Iñárritu,Amores Perros,8.1,Spanish,5.0,2.0,3.0
3344,178,Karan Johar,My Name Is Khan,8.0,Hindi,4.0,12.0,-8.0
4897,183,Sergio Leone,A Fistful of Dollars,8.0,Italian,3.0,0.0,3.0
3456,184,Vincent Paronnaud,Persepolis,8.0,French,4.0,7.0,-3.0
4284,192,Ari Folman,Waltz with Bashir,8.0,Hebrew,2.0,1.0,1.0
4144,202,Walter Salles,Central Station,8.0,Portuguese,5.0,2.0,3.0
3510,206,Yash Chopra,Veer-Zaara,7.9,Hindi,2.0,7.0,-5.0
4640,208,Cristian Mungiu,"4 Months, 3 Weeks and 2 Days",7.9,Romanian,1.0,0.0,1.0
4415,217,Fabián Bielinsky,Nine Queens,7.9,Spanish,1.0,1.0,0.0
2863,224,Clint Eastwood,Letters from Iwo Jima,7.9,Japanese,13.0,19.0,-6.0
3677,226,Christophe Barratier,The Chorus,7.9,French,3.0,5.0,-2.0
3264,236,Michael Haneke,Amour,7.9,French,0.0,8.0,-8.0
1171,244,Yimou Zhang,Hero,7.9,Mandarin,0.0,31.0,-31.0

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [21]:
# Write your code for extracting the top 10 directors here
top10director=movies.groupby(by='director_name').imdb_score.mean().sort_values(ascending=False).head(10)
#top10director.info()
top10director=top10director.to_frame() #converted Series into DataFrame
top10director

                       imdb_score
director_name
Charles Chaplin          8.600000
Tony Kaye                8.600000
Alfred Hitchcock         8.500000
Ron Fricke               8.500000
Damien Chazelle          8.500000
Majid Majidi             8.500000
Sergio Leone             8.433333
Christopher Nolan        8.425000
S.S. Rajamouli           8.400000
Marius A. Markevicius    8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [22]:
# Write your code for extracting the first two genres of each movie here
movies
#movies['genres1']=movies['genres'].str.split(('|'))
#movies['genres2']=movies['genres'].str.split(('|')[1])
movies['genre_1'] = movies['genres'].apply(lambda x: x.split('|')[0])
movies['genre_2'] = movies['genres'].apply(lambda x: x.split('|')[1] if len(x.split('|'))>1 else x)
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genre_1,genre_2
1937,Frank Darabont,199.0,28.0,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,25.0,1994.0,9.3,108000,3.0,Crime,Drama
3466,Francis Ford Coppola,208.0,134.0,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,6.0,1972.0,9.2,43000,128.0,Crime,Drama
2837,Francis Ford Coppola,149.0,57.0,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,13.0,1974.0,9.0,14000,44.0,Crime,Drama
66,Christopher Nolan,645.0,533.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.0,Action,Crime
1874,Steven Spielberg,174.0,96.0,Biography|Drama|History,Liam Neeson,Schindler's List,865020,1273.0,English,22.0,1993.0,8.9,41000,74.0,Biography,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3340,Vondie Curtis-Hall,66.0,4.0,Drama|Music|Romance,Mariah Carey,Glitter,19412,308.0,English,22.0,2001.0,2.1,0,-18.0,Drama,Music
3505,Don Michael Paul,25.0,5.0,Comedy|Sport,Jeffrey Jones,Who's Your Caddy?,13815,46.0,English,7.0,2007.0,2.0,446,-2.0,Comedy,Sport
2268,Jason Friedberg,111.0,14.0,Comedy,Carmen Electra,Disaster Movie,74945,359.0,English,25.0,2008.0,1.9,0,-11.0,Comedy,Comedy
2295,Bob Clark,32.0,9.0,Comedy|Family|Sci-Fi,Scott Baio,Superbabies: Baby Geniuses 2,25371,129.0,English,20.0,2004.0,1.9,0,-11.0,Comedy,Family
2834,Jon M. Chu,84.0,73.0,Documentary|Music,Usher Raymond,Justin Bieber: Never Say Never,74351,233.0,English,13.0,2011.0,1.6,62000,60.0,Documentary,Music

In [23]:
# Write your code for grouping the dataframe here
movies_by_segment = movies.groupby(["genre_1",'genre_2'])
movies_by_segment

In [24]:
# Write your code for getting the 5 most popular combo of genres here
PopGenre = movies_by_segment.gross.mean().sort_values(ascending=False)
PopGenre=PopGenre.to_frame()
PopGenre.head(5)

                          gross
genre_1   genre_2
Family    Sci-Fi     434.000000
Adventure Sci-Fi     228.000000
          Family     118.411765
          Animation  116.547009
Action    Adventure  109.182039

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [25]:
# Write your code for creating three new dataframes here
movies
# Include all movies in which Meryl_Streep is the lead
Meryl_Streep = movies[movies.actor_1_name=='Meryl Streep']
Meryl_Streep

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genre_1,genre_2
1925,Stephen Daldry,174.0,41.0,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,25.0,2002.0,7.6,0,16.0,Drama,Romance
1575,Sydney Pollack,66.0,87.0,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,31.0,1985.0,7.2,0,56.0,Biography,Drama
1204,Nora Ephron,252.0,94.0,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,40.0,2009.0,7.0,13000,54.0,Biography,Drama
1674,Carl Franklin,64.0,23.0,Drama,Meryl Streep,One True Thing,9283,112.0,English,30.0,1998.0,7.0,592,-7.0,Drama,Drama
1408,David Frankel,208.0,124.0,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,35.0,2006.0,6.8,0,89.0,Comedy,Drama
3135,Robert Altman,211.0,20.0,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,10.0,2006.0,6.8,683,10.0,Comedy,Drama
410,Nancy Meyers,187.0,112.0,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,85.0,2009.0,6.6,0,27.0,Comedy,Drama
2781,Phyllida Lloyd,331.0,29.0,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,13.0,2011.0,6.4,18000,16.0,Biography,Drama
1106,Curtis Hanson,42.0,46.0,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,45.0,1994.0,6.3,0,1.0,Action,Adventure
1618,David Frankel,234.0,63.0,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,30.0,2012.0,6.3,0,33.0,Comedy,Drama
1483,Robert Redford,227.0,14.0,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,35.0,2007.0,6.2,0,-21.0,Drama,Thriller

In [26]:
# Include all movies in which Leo_Caprio is the lead
Leo_Caprio = movies[movies.actor_1_name=='Leonardo DiCaprio']
Leo_Caprio

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genre_1,genre_2
97,Christopher Nolan,642.0,292.0,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,160.0,2010.0,8.8,175000,132.0,Action,Adventure
361,Martin Scorsese,352.0,132.0,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,90.0,2006.0,8.5,29000,42.0,Crime,Drama
296,Quentin Tarantino,765.0,162.0,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,100.0,2012.0,8.5,199000,62.0,Drama,Western
308,Martin Scorsese,606.0,116.0,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,100.0,2013.0,8.2,138000,16.0,Biography,Comedy
452,Martin Scorsese,490.0,127.0,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,80.0,2010.0,8.1,53000,47.0,Mystery,Thriller
179,Alejandro G. Iñárritu,556.0,183.0,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,135.0,2015.0,8.1,190000,48.0,Adventure,Drama
307,Edward Zwick,166.0,57.0,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,100.0,2006.0,8.0,14000,-43.0,Adventure,Drama
911,Steven Spielberg,194.0,164.0,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,52.0,2002.0,8.0,15000,112.0,Biography,Crime
26,James Cameron,315.0,658.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.0,Drama,Romance
326,Martin Scorsese,233.0,77.0,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,100.0,2002.0,7.5,0,-23.0,Crime,Drama
257,Martin Scorsese,267.0,102.0,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,110.0,2004.0,7.5,0,-8.0,Biography,Drama
1114,Sam Mendes,323.0,22.0,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,35.0,2008.0,7.3,0,-13.0,Drama,Romance
3476,Baz Luhrmann,490.0,144.0,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,105.0,2013.0,7.3,115000,39.0,Drama,Romance
50,Baz Luhrmann,490.0,144.0,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,105.0,2013.0,7.3,115000,39.0,Drama,Romance
641,Ridley Scott,238.0,39.0,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,70.0,2008.0,7.1,0,-31.0,Action,Drama
2757,Baz Luhrmann,106.0,46.0,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,14.0,1996.0,6.8,10000,32.0,Drama,Romance
2067,Jerry Zaks,45.0,12.0,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,23.0,1996.0,6.7,1000,-11.0,Drama,Drama
990,Danny Boyle,118.0,39.0,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,50.0,2000.0,6.6,0,-11.0,Adventure,Drama
1453,Clint Eastwood,392.0,37.0,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,35.0,2011.0,6.6,16000,2.0,Biography,Crime
1560,Sam Raimi,63.0,18.0,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,32.0,1995.0,6.4,0,-14.0,Action,Thriller
1422,Randall Wallace,83.0,56.0,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,35.0,1998.0,6.4,0,21.0,Action,Adventure

In [27]:
# Include all movies in which Brad_Pitt is the lead
Brad_Pitt = movies[movies.actor_1_name=='Brad Pitt']
Brad_Pitt

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genre_1,genre_2
683,David Fincher,315.0,37.0,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,63.0,1999.0,8.8,48000,-26.0,Drama,Drama
2898,Tony Scott,122.0,12.0,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,13.0,1993.0,8.0,15000,-1.0,Action,Crime
101,David Fincher,362.0,127.0,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,150.0,2008.0,7.8,23000,-23.0,Drama,Fantasy
400,Steven Soderbergh,186.0,183.0,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,85.0,2001.0,7.8,0,98.0,Crime,Thriller
470,David Ayer,406.0,85.0,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,68.0,2014.0,7.6,82000,17.0,Action,Drama
940,Neil Jordan,120.0,105.0,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60.0,1994.0,7.6,11000,45.0,Drama,Fantasy
2204,Alejandro G. Iñárritu,285.0,34.0,Drama,Brad Pitt,Babel,243799,908.0,English,25.0,2006.0,7.5,0,9.0,Drama,Drama
1722,Andrew Dominik,273.0,3.0,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,30.0,2007.0,7.5,0,-27.0,Biography,Crime
147,Wolfgang Petersen,220.0,133.0,Adventure,Brad Pitt,Troy,381672,1694.0,English,175.0,2004.0,7.2,0,-42.0,Adventure,Adventure
382,Tony Scott,142.0,0.0,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,92.0,2001.0,7.0,0,-92.0,Action,Crime
611,Jean-Jacques Annaud,76.0,37.0,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,70.0,1997.0,7.0,0,-33.0,Adventure,Biography
792,Patrick Gilmore,98.0,26.0,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,60.0,2003.0,6.7,880,-34.0,Adventure,Animation
1490,Terrence Malick,584.0,13.0,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,32.0,2011.0,6.7,39000,-19.0,Drama,Fantasy
255,Doug Liman,233.0,186.0,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,120.0,2005.0,6.5,0,66.0,Action,Comedy
254,Steven Soderbergh,198.0,125.0,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,110.0,2004.0,6.4,0,15.0,Crime,Thriller
2682,Andrew Dominik,414.0,14.0,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,15.0,2012.0,6.2,20000,-1.0,Crime,Thriller
2333,Angelina Jolie Pitt,131.0,0.0,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,10.0,2015.0,5.3,0,-10.0,Drama,Romance

In [28]:
# Write your code for combining the three dataframes here
#combined=pd.concat([Meryl_Streep,Leo_Caprio,Brad_Pitt])  # used concatenation here and it gives same result
#combined.info()
combined=Meryl_Streep.append(Leo_Caprio).append(Brad_Pitt)
#combined.info()
combined

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genre_1,genre_2
1925,Stephen Daldry,174.0,41.0,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,25.0,2002.0,7.6,0,16.0,Drama,Romance
1575,Sydney Pollack,66.0,87.0,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,31.0,1985.0,7.2,0,56.0,Biography,Drama
1204,Nora Ephron,252.0,94.0,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,40.0,2009.0,7.0,13000,54.0,Biography,Drama
1674,Carl Franklin,64.0,23.0,Drama,Meryl Streep,One True Thing,9283,112.0,English,30.0,1998.0,7.0,592,-7.0,Drama,Drama
1408,David Frankel,208.0,124.0,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,35.0,2006.0,6.8,0,89.0,Comedy,Drama
3135,Robert Altman,211.0,20.0,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,10.0,2006.0,6.8,683,10.0,Comedy,Drama
410,Nancy Meyers,187.0,112.0,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,85.0,2009.0,6.6,0,27.0,Comedy,Drama
2781,Phyllida Lloyd,331.0,29.0,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,13.0,2011.0,6.4,18000,16.0,Biography,Drama
1106,Curtis Hanson,42.0,46.0,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,45.0,1994.0,6.3,0,1.0,Action,Adventure
1618,David Frankel,234.0,63.0,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,30.0,2012.0,6.3,0,33.0,Comedy,Drama
1483,Robert Redford,227.0,14.0,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,35.0,2007.0,6.2,0,-21.0,Drama,Thriller
97,Christopher Nolan,642.0,292.0,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,160.0,2010.0,8.8,175000,132.0,Action,Adventure
361,Martin Scorsese,352.0,132.0,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,90.0,2006.0,8.5,29000,42.0,Crime,Drama
296,Quentin Tarantino,765.0,162.0,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,100.0,2012.0,8.5,199000,62.0,Drama,Western
308,Martin Scorsese,606.0,116.0,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,100.0,2013.0,8.2,138000,16.0,Biography,Comedy
452,Martin Scorsese,490.0,127.0,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,80.0,2010.0,8.1,53000,47.0,Mystery,Thriller
179,Alejandro G. Iñárritu,556.0,183.0,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,135.0,2015.0,8.1,190000,48.0,Adventure,Drama
307,Edward Zwick,166.0,57.0,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,100.0,2006.0,8.0,14000,-43.0,Adventure,Drama
911,Steven Spielberg,194.0,164.0,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,52.0,2002.0,8.0,15000,112.0,Biography,Crime
26,James Cameron,315.0,658.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.0,Drama,Romance
326,Martin Scorsese,233.0,77.0,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,100.0,2002.0,7.5,0,-23.0,Crime,Drama
257,Martin Scorsese,267.0,102.0,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,110.0,2004.0,7.5,0,-8.0,Biography,Drama
1114,Sam Mendes,323.0,22.0,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,35.0,2008.0,7.3,0,-13.0,Drama,Romance
3476,Baz Luhrmann,490.0,144.0,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,105.0,2013.0,7.3,115000,39.0,Drama,Romance
50,Baz Luhrmann,490.0,144.0,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,105.0,2013.0,7.3,115000,39.0,Drama,Romance
641,Ridley Scott,238.0,39.0,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,70.0,2008.0,7.1,0,-31.0,Action,Drama
2757,Baz Luhrmann,106.0,46.0,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,14.0,1996.0,6.8,10000,32.0,Drama,Romance
2067,Jerry Zaks,45.0,12.0,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,23.0,1996.0,6.7,1000,-11.0,Drama,Drama
990,Danny Boyle,118.0,39.0,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,50.0,2000.0,6.6,0,-11.0,Adventure,Drama
1453,Clint Eastwood,392.0,37.0,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,35.0,2011.0,6.6,16000,2.0,Biography,Crime
1560,Sam Raimi,63.0,18.0,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,32.0,1995.0,6.4,0,-14.0,Action,Thriller
1422,Randall Wallace,83.0,56.0,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,35.0,1998.0,6.4,0,21.0,Action,Adventure
683,David Fincher,315.0,37.0,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,63.0,1999.0,8.8,48000,-26.0,Drama,Drama
2898,Tony Scott,122.0,12.0,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,13.0,1993.0,8.0,15000,-1.0,Action,Crime
101,David Fincher,362.0,127.0,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,150.0,2008.0,7.8,23000,-23.0,Drama,Fantasy
400,Steven Soderbergh,186.0,183.0,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,85.0,2001.0,7.8,0,98.0,Crime,Thriller
470,David Ayer,406.0,85.0,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,68.0,2014.0,7.6,82000,17.0,Action,Drama
940,Neil Jordan,120.0,105.0,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60.0,1994.0,7.6,11000,45.0,Drama,Fantasy
2204,Alejandro G. Iñárritu,285.0,34.0,Drama,Brad Pitt,Babel,243799,908.0,English,25.0,2006.0,7.5,0,9.0,Drama,Drama
1722,Andrew Dominik,273.0,3.0,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,30.0,2007.0,7.5,0,-27.0,Biography,Crime
147,Wolfgang Petersen,220.0,133.0,Adventure,Brad Pitt,Troy,381672,1694.0,English,175.0,2004.0,7.2,0,-42.0,Adventure,Adventure
382,Tony Scott,142.0,0.0,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,92.0,2001.0,7.0,0,-92.0,Action,Crime
611,Jean-Jacques Annaud,76.0,37.0,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,70.0,1997.0,7.0,0,-33.0,Adventure,Biography
792,Patrick Gilmore,98.0,26.0,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,60.0,2003.0,6.7,880,-34.0,Adventure,Animation
1490,Terrence Malick,584.0,13.0,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,32.0,2011.0,6.7,39000,-19.0,Drama,Fantasy
255,Doug Liman,233.0,186.0,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,120.0,2005.0,6.5,0,66.0,Action,Comedy
254,Steven Soderbergh,198.0,125.0,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,110.0,2004.0,6.4,0,15.0,Crime,Thriller
2682,Andrew Dominik,414.0,14.0,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,15.0,2012.0,6.2,20000,-1.0,Crime,Thriller
2333,Angelina Jolie Pitt,131.0,0.0,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,10.0,2015.0,5.3,0,-10.0,Drama,Romance

In [29]:
# Write your code for grouping the combined dataframe here
combined_group=combined.groupby('actor_1_name') #moved Grouped data to new dataframe
combined_group

In [30]:
# Write the code for finding the mean of critic reviews and audience reviews here
combined_group[['num_critic_for_reviews','num_user_for_reviews']].mean()

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      245.000000            742.352941
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   181.454545            297.181818

**Checkpoint 6:** `Leonardo` has aced both the lists!